.line {
	width: 100%;
	height: 10px;
	background: gray;
	display: flex;
	margin-top: 2px;
}
.cubeRed {
	width: 25px;
	height: 10px;
	background: #c53c3c;
	margin-left: 2px;
}
.cubeBlue {
	width: 25px;
	height: 10px;
	background: blue;
	margin-left: 2px;
}